.add-edit-form {
  max-width: 100%;
  margin: 60px;
  padding: 0 30px 20px 30px;
  background-color: rgba(0, 0, 0, 0.486);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 20px #254347;
  gap: 30px;
}

#input-tag {
  border: none;
  height: 50px;
  min-width: 70vw;
  box-sizing: border-box;
  background-color: rgba(83, 83, 83, 0.301);
  border-radius: 5px;
  padding: 0 8px 0 8px;
}

@media screen and (max-width: 460px) {
  .add-edit-form {
    margin-left: 0;
    margin-right: 0;
  }

  #input-tag {
    min-width: 80vw;
  }
}
