.navbar-div {
  background-color: black;
  height: 70px;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 100vw;
  padding-right: 30px;
  padding-left: 20px;
}

.navbar-logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-logo {
  height: 60px;
  width: 60px;
}
