.show-task {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 90px 0 90px;
}

.card-wrapper {
  height: 220px;
  width: 250px;
  padding: 10px 20px 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.Done {
  background-color: green;
}

.Todo {
  background-color: rgb(99, 32, 32);
}

.In {
  background-color: rgb(37, 37, 95);
}

.options-select {
  border: none;
  width: 100%;
  height: 30px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.425);
  color: black;
}

.edit-delete-button {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 1100px) {
  .show-task {
    justify-content: center;
  }
}
